* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

:root {
  --white: #fff;
  --blue: #146c94;
  --dark: #131619;
  --grey: #eeeeee;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--grey);
}

form {
  margin: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* height: 100%; */
  width: 80%;
  border-radius: 1rem;
  overflow: hidden;
}

.aside-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  background-color: var(--white);
  padding: 2rem;
}

.aside-container .side-img {
  width: 5rem;
}

.aside-container .temperature {
  font-size: 3.75rem;
  font-weight: 400;
}

.aside-container .description {
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.aside-container hr {
  width: 65%;
}

.aside-container .date {
  margin: 4rem 0;
}

.aside-container .city-name {
  font-size: 3.25rem;
  font-weight: 400;
}

.elements-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-image: url("https://svgshare.com/i/xeW.svg");
  background-repeat: no-repeat;
  background-size: cover; */
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  /* background-color: var(--blue); */
  color: var(--white);
  padding: 2rem;
}

.elements-container .grid-heading {
  font-size: 2.5rem;
  font-weight: 400;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.cardContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  width: 13.25rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
}

.city {
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 1.2px;
  color: white;
  text-transform: uppercase;
}

.weather {
  font-weight: 500;
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: rgb(197, 197, 197);
  text-transform: capitalize;
}

.temp {
  font-size: 1.8em;
  color: white;
}

.minmaxContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.min,
.max {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 20px;
  gap: 4px;
}

.max {
  align-items: flex-start;
  border-left: 2px solid white;
}

.maxHeading,
.minHeading {
  font-size: 0.7em;
  font-weight: 600;
  color: white;
}

.maxTemp,
.minTemp {
  font-size: 0.6em;
  font-weight: 500;
  color: rgb(197, 197, 197);
}

/*Search Bar*/
.searchInput {
  height: 2rem;
  width: 12rem;
  border-radius: 6px;
  border: 2px solid var(--grey);
  outline-color: #131619;
  padding: 1rem 1rem 1rem 0.5rem;
}

.submit-btn {
  height: 2rem;
  width: 4rem;
  cursor: pointer;
  color: var(--dark);
  font-size: 18px;
  font-weight: 700;
  background-color: white;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
}

.submit-btn:hover {
  color: var(--white);

  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
